/recipes/*.md
*.py
/recipes/pizza-dough.md
/recipes/stuffed-bell-peppers.md
/recipes/thick-crust-pizza-dough.md"
/recipes/mexican-inspired-rice-and-bean-bowl.md
/recipes/vegetable-and-bean-skillet.md/recipes/lentil-and-rice-pilaf.md
/recipes/spinach-and-potato-empanadas.md
/recipes/crispy-tofu-stir-fry.md
/recipes/sesame-srusted-tofu-nuggets.md
/recipes/pinto-bean-and-tvp-tacos.md
/recipes/tvp-tacos.md
/recipes/cornbread-muffins.md
/recipes/shepherds-pie.md
/recipes/black-bean-and-sweet-corn-chili.md
/recipes/bean-and-rice-enchiladas.md
/recipes/thai-pineapple-fried-rice.md
/recipes/flatbread.md
/recipes/potato-patties-with-hemp-hearts.md
/recipes/spiced-red-lentil-and-potato-stew.md
/recipes/fofu-scramble-breakfast-burritos.md
/recipes/mongolian-style-tofu-stir-fry.md
/recipes/Pinto Bean and TVP Tacos.md
/recipes/Lentil and Rice Pilaf.md
/recipes/Bean and Rice Enchiladas.md
/recipes/Stuffed Bell Peppers.md
/recipes/Black Bean and Sweet Corn Chili.md
/recipes/Thick Crust Pizza Dough.md
/recipes/Crispy Tofu Stir Fry.md
/recipes/Shepherd's Pie.md
/recipes/Cornbread Muffins.md
/recipes/Thai Pineapple Fried Rice.md
/recipes/Mongolian Style Tofu Stir Fry.md
/recipes/Mexican Inspired Rice and Bean Bowl.md
/recipes/TVP Tacos.md
/recipes/Spiced Red Lentil and Potato Stew.md
/recipes/Flatbread.md
/recipes/Spinach and Potato Empanadas.md
/recipes/Vegetable and Bean Skillet.md
/recipes/Tofu Scramble Breakfast Burritos.md
/recipes/Sesame Crusted Tofu Nuggets.md
/recipes/Potato Patties with Hemp Hearts.md



/recipes/Taco Bell-Style Gorditas with TVP.md
/recipes/Taco Bell-Style Red Sauce.md
/recipes/Taco Bell-Style Churros.md
/recipes/# Taco Bell-Style Soft Tacos with TVP.md
/recipes/Taco Bell-Style Fiesta Potatoes.md
/recipes/Amy's-Style Organic Medium Chili.md
/recipes/Taco Bell-Style Mexican Pizza.md
/recipes/Crispy Potato Taquitos.md
/recipes/Taco Bell-Style Nachos BellGrande (Veg.md
/recipes/Taco Bell-Style Double Decker Tacos with TVP.md
/recipes/Taco Bell-Style Bean Burritos.md
/recipes/Iraqi Red Lentil and Potato Soup.md
/recipes/Taco Bell-Style Triple Layer Nachos.md
/recipes/Taco Bell-Style Chalupas with TVP.md
/recipes/Gorditas with Refried Beans.md
/recipes/Sweet Corn Tamales (Tamales de Elote).md
/recipes/Taco Bell-Style Tostadas.md


